<section class="mh-about" id="mh-about">
    <div class="container">
        <div class="row section-separator">
            <div class="col-sm-12 col-md-6">
                <div class="mh-about-img shadow-2 wow fadeInUp" data-wow-duration="0.3s" data-wow-delay="0.4s">
                    <img src="assets/images/about.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                {% include homepage/bio.html %}
            </div>
            <div class="col-md-12">
                <div class="mh-about-tag mh-about-tag-2 wow fadeInUp" data-wow-duration="0.3s" data-wow-delay="0.1s">
                    <ul>
                        {% include homepage/skills.html %}
                    </ul>
                    <a href={{ site.resume_url }} class="btn btn-fill wow fadeInUp" data-wow-duration="0.3s" data-wow-delay="0.4s">Download CV <i class="fa fa-download"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>