<div class="mh-about-inner">
    <h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">About Me</h2>
    <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">

        Ever since I was little, software development has been my passion. 
        I still remember writing my first programs -- I was trying to make game mods in an obscure programming language, 
        with no idea of what I was doing... Throughout middle school and high school, 
        I attempted to build my knowledge and satiate my curiosity by learning about game development. 
        I watched way too many YouTube videos and arguably spent way too much time at my computer; 
        however, I was able to go from "Hello World" to building Mario-like games, with dozens of projects in-between! 
        I learned a C-like language, then JavaScript, Java, and experimented with a bunch of others in between.
    </p>
    <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">

        Since then, this passion has carried me through my Bachelor's Degree in Computer Science and is driving me now as 
        a part-time online graduate student at Georgia Tech and in my full-time contract role as a Software Engineer at Nike. 
        I've been so grateful to be able to study and learn more about this field, all with pretty much the same fascination 
        that drove me as a kid.
    </p>
    <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">

        So, now in the industry, this passion remains with me. I most certainly have more to learn, 
        more problems to solve, and more projects to be a part of. For this, I am very grateful to my younger self, and 
        I am looking forward to what's to come.
    </p>                            
</div>