<section class="mh-experince" id="mh-experience">
    <div class="bolor-overlay">
        <div class="container">

            <div class="row section-separator">
                <div class="mh-work">
                    <h3>Work Experience</h3>
                    <div class="mh-experience-deatils">
                        <!-- Work -->
                        <div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="work-img shadow-2 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                                    <img src="assets/images/Nike.png" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <h4>Contract Software Engineer at <a href="">Nike</a></h4>
                                <div class="mh-eduyear">Sep 2019 - Present</div>
                                <p>
                                    I am currently working at Nike as Contract Software Engineer, employed through Randstad Technologies US.
                                </p>
                                <p>
                                    Technologies: Java 8-11, Node.js, AWS (Lambda and EC2), Jenkins CI/CD, and Docker. Automated functional tests, unit tests, and a full e2e integration test suite using test driven + behavior driven development.
                                </p>

                                <b>Responsibilities :</b>
                                <ul class="work-responsibility">
                                    <li><i class="fa fa-circle"></i>Agile developer on a cloud-native backend team, building microservices in AWS that affect Nike retail stores.</li>
                                    <li><i class="fa fa-circle"></i>Participating in a DevOps rotation, working in AWS to ensure scalability, usability, resilience, and availability of services.</li>
                                </ul>
                            </div>
                        </div>    
                        

                        </div>                                
                        <!-- Work -->
                        <div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">
                            <div class="row">
                                <div class="col-sm-3">
                                <div class="work-img shadow-2 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                                    <img src="assets/images/Shasta.png" alt="" class="img-fluid">
                                </div>
                                </div>
                                <div class="col-sm-9">
                                <h4>Software Engineer at <a href="">Shasta Networks</a></h4>
                                <div class="mh-eduyear">Oct 2018 - Aug 2019</div>
                                <p>
                                    In October of 2018, during a re-org at Shasta Networks, I switched roles from an Integration Engineer to Software Engineer. 
                                    With my role change, I took on a larger role in the project organization and development space, eventually leading a couple 
                                    high-profile projects.
                                </p>
                                <b>Accomplishments :</b>
                                <ul class="work-responsibility">
                                    <li><i class="fa fa-circle"></i>Technical lead on a project to create an inline healthcare data (HL7 and FHIR) conformance and validation tool.</li>
                                    <li><i class="fa fa-circle"></i>Technical lead on a project to compile patient data from multiple source systems and generate clinical charts for a large medical billing company.</li>
                                    <li><i class="fa fa-circle"></i>Assisted with the planning and execution of a full-fledged infrastructure migration, presented proposals for a hybrid mircoservice architecture in the existing environment, and introduced AWS into the existing infrastructure.</li>
                                    <li><i class="fa fa-circle"></i>Mentored junior engineers and interns while they received college credit.</li>
                                    <li><i class="fa fa-circle"></i>Helped design and run the 2019 Shasta Networks Hackathon.</li>

                                </ul>

                                <hr/>
                                <h4>Integration Engineer at <a href="">Shasta Networks</a></h4>
                            <div class="mh-eduyear">Jun 2016 - Oct 2018</div>
                            <p>
                            During my time as an Integration Engineer, I helped lead the implementation of hundreds of java-based HL7 routes from startup calls to production migrations. 
                            I acted as a main technical liaison between a large client, providing direct software support for creating, updating, and troubleshooting over 400 interfaces 
                            between a variety of source and destination health information systems, interface engines, and billing systems. In addition, I succinctly documented all of 
                            the work that I performed for clients in issue tracking software and spent ample time creating documentation for new features and processes in our knowledgebase.
                            </p>
                            <b>Responsibilities :</b>
                            <ul class="work-responsibility">
                                <li><i class="fa fa-circle"></i>Provided managed service support for a java-based integration engine for healthcare data.</li>
                                <li><i class="fa fa-circle"></i>Acted as the project lead for hundreds of java-based HL7 routes from startup calls to production migrations.</li>
                            </ul>
                                </div>
                            </div>
                            
                        </div>                                

                        <!-- Work -->
                        <div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="work-img shadow-2 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                                    <img src="assets/images/SOU.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <h4>Help Desk Technician at <a href="">Southern Oregon University</a></h4>
                            <div class="mh-eduyear">Oct 2014 - Jun 2016</div>
                            <p>
                            A typical day as a Help Desk Technician involved providing prompt responses to technology-related questions from students and staff. I troubleshot, diagnosed, and resolved problems 
                            relating to user accounts, the general operation of personal computers, and specific issues regarding programs and personal devices. 
                            Additionally, I meticulously documented incoming issues to create a log to be referenced by other technicians. 
                            I always tried to be a rockstar communicator while assisting others and actively tried to translate my technical knowledge into actionable direction for users.
                            </p>
                            <b>Responsibilities :</b>
                            <ul class="work-responsibility">
                                <li><i class="fa fa-circle"></i>Responded to technology-related questions from students and staff while translating my technical knowledge into actionable direction for users.</li>
                                <li><i class="fa fa-circle"></i>Troubleshot, diagnosed, and resolved problems related to account issues, personal computers, and specific issues with programs or devices.</li>
                                <li><i class="fa fa-circle"></i>Documented incoming problems and conversations to be referenced by other technicians.</li>
                            </ul>
                            </div>
                        </div>   
                        
                        </div>
                    </div>
                </div>
            </div>


            <div class="row section-separator">
                <div class="mh-education">
                    <div class="col-sm-12 col-md-12">
                    <h3 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">Education</h3>
                    <div class="mh-education-deatils">
                        <!-- Education Institutes-->
                        <div class="mh-education-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                        <div class="row d-flex flex-wrap align-items-center">
                            <div class="col-sm-2">
                                <div class="shadow-2 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                                    <img src="assets/images/GATECH.png" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <h4>Studying Computer Science at <a href="">Georgia Institute of Technology</a></h4>
                                <div class="mh-eduyear">Jan 2020 - Present</div>
                                <p>
                                    Enrolled in the Online MS of Computer Science (OMSCS) Program. <br/>
                                    Started Spring 2020 and completed coursework in Knowledge Based AI and AI For Robotics.
                                </p>

                            </div>
                        </div>

                        </div>                                
                        <!-- Education Institutes-->
                        <div class="mh-education-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                        <div class="row d-flex flex-wrap align-items-center">
                            <div class="col-sm-2">
                                <div class="shadow-2 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                                    <img src="assets/images/SOU-Long.png" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <h4>B.S. Computer Science at <a href="">Southern Oregon University</a></h4>
                                <div class="mh-eduyear">Oct 2014 - Jun 2017</div>
                                <p>
                                    I received my Bachelor of Science degree and Business Administration Minor from Southern Oregon University, graduating Magna Cum Laude with a 3.76 GPA. 
                                </p>
                                <br/>
                                <p>
                                    <b>President's List</b>: Winter 2016, Spring 2016, Spring 2017
                                    <br/>
                                    <b>Dean's List</b>: Fall 2014, Fall 2015
                                    <br/>
                                    <b>Provost's List</b>: Fall 2016, Winter 2017
                                    <br/>
                                </p>


                            </div>
                            </div>

                        </div>                                
                    </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>