<section class="mh-experince" id="mh-experience">
    <div class="bolor-overlay">
        <div class="container">

            <div class="row section-separator">
                <div class="mh-work">
                    <h3>Work Experience</h3>
                    <div class="mh-experience-deatils">

                        {% for exp in site.experience %}
                        <div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.3s" data-wow-delay="0.4s">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="work-img shadow-2 wow fadeInUp" data-wow-duration="0.3s"
                                        data-wow-delay="0.2s">
                                        <img src={{ exp.image }} alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <h4>{{ exp.position }} at <a href="">{{ exp.company }}</a></h4>
                                    <div class="mh-eduyear">{{ exp.dates }}</div>
                                    {{ exp.content }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row section-separator">
                <div class="mh-education">
                    <div class="col-sm-12 col-md-12">
                        <h3 class="wow fadeInUp" data-wow-duration="0.3s" data-wow-delay="0.2s">Education</h3>
                        <div class="mh-education-deatils">
                            {% for school in site.education %}
                            <div class="mh-education-item dark-bg wow fadeInUp" data-wow-duration="0.3s"
                                data-wow-delay="0.1s">
                                <div class="row d-flex flex-wrap align-items-center">
                                    <div class="col-sm-2">
                                        <div class="shadow-2 wow fadeInUp" data-wow-duration="0.3s"
                                            data-wow-delay="0.2s">
                                            <img src={{ school.image }} alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-sm-10">
                                        <h4>{{ school.degree }} at <a href="">{{ school.name }}</a></h4>
                                        <div class="mh-eduyear">{{ school.dates }}</div>
                                        {{ school.content }}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>