<section class="mh-blog" id="mh-blog">
    <div class="container">
        <div class="row section-separator">
            <div class="col-sm-12 section-title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                <h3>Featured Posts</h3>
            </div>
            <div class="col-sm-12 col-md-4">
                    <div class="mh-blog-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                    <img src="assets/images/blog/tdd-header.jpg" alt="" class="img-fluid">
                    <div class="blog-inner">
                        <h2><a href="/blog/papers/2019/02/22/test-driven-development.html">What is Test Driven Development?</a></h2>
                        <p>A paper and slide deck on Test Driven Development. A term project for Systems Analysis.</p>
                        <a href="/blog/papers/2019/02/22/test-driven-development.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="mh-blog-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                    <img src="assets/images/blog/wifi-header.jpg" alt="" class="img-fluid">
                    <div class="blog-inner">
                        <h2><a href="/blog/papers/2018/11/28/wifi-hacking-with-aircrack-ng.html">How to Hack Wi-Fi with AircrackNg</a></h2>
                        <p>An article detailing how to install and use the WiFi hacking tool Aircrack-ng, along with its other components.</p>
                        <a href="/blog/papers/2018/11/28/wifi-hacking-with-aircrack-ng.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="mh-blog-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                    <img src="assets/images/blog/rtsp-streaming-netflix.jpg" alt="" class="img-fluid">
                    <div class="blog-inner">
                        <h2><a href="/blog/papers/2018/03/28/real-time-streaming-protocol.html">What is the Real Time Streaming Protocol?</a></h2>
                        <p>An analysis of the Real Time Streaming Protocol (RTSP). A term paper for my Networks 2 class.</p>
                        <a href="/blog/papers/2018/03/28/real-time-streaming-protocol.html">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>