<li><span>Java</span></li>
<li><span>OCI</span></li>
<li><span>Microservices</span></li>
<li><span>Agile Methodology</span></li>
<li><span>Docker</span></li>
<li><span>AppSec</span></li>
<li><span>Linux</span></li>
<li><span>CI/CD</span></li>
<li><span>Behavior Driven Development</span></li>
<li><span>IOT</span></li>
<li><span>Python</span></li>
<li><span>System Automation</span></li>
<li><span>Test Driven Development</span></li>
<li><span>Serverless</span></li>
<li><span>Elasticsearch</span></li>
<li><span>Artificial Intelligence</span></li>
<li><span>Node.js</span></li>
<li><span>Micronaut</span></li>
<li><span>Oracle</span></li>
<li><span>AWS</span></li>
<li><span>Dropwizard</span></li>