<section class="mh-service">
    <div class="container">
        <div class="row section-separator">
            <div class="col-sm-12 text-center section-title wow fadeInUp" data-wow-duration="0.3s" data-wow-delay="0.2s">
                <h2>My Specialties</h2>
            </div>
            <div class="col-sm-4">
                <div class="mh-service-item shadow-1 dark-bg wow fadeInUp" data-wow-duration="0.3s" data-wow-delay="0.1s">
                    <i class="fa fa-code purple-color"></i>
                    <h3>Backend Development</h3>
                    <p>
                        I have 6 years of backend development experience using Java and Node.js.
                        I'm an avid builder of distributed microservices and serverless applications using cloud platforms.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mh-service-item shadow-1 dark-bg wow fadeInUp" data-wow-duration="0.3s" data-wow-delay="0.5s">
                    <i class="fa fa-floppy-o iron-color"></i>
                    <h3>System Design</h3>
                    <p>
                        I enjoy designing and building large, scalable, high-availability services, and I love taking ownership
                        of these projects from inception, through design, and to production and beyond.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mh-service-item shadow-1 dark-bg wow fadeInUp" data-wow-duration="0.3s" data-wow-delay="0.7s">
                    <i class="fa fa-magic sky-color"></i>
                    <h3>Automation</h3>
                    <p>
                        I am an ardent automator. I strongly believe in automation and its long-term benefits. 
                        If I ever have to do long, repetitive, or boring processes - you can bet I will automate it!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>