<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">Get in Touch</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Email: <a href="mailto:me@cseverson.com">me@cseverson.com</a></li>
          <li class="p-name">Portfolio: <a href="https://www.cseverson.com">www.cseverson.com</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="contact-list">
          <li class="p-name">Github: <a href="https://github.com/chandl">chandl</a></li>
          <li class="p-name">LinkedIn: <a href="https://www.linkedin.com/in/chandler-severson-201ba78b/">Chandler Severson</a></li>
        </ul>
      </div>
  </div>
</footer>