<!--
===================
    NAVIGATION
===================
-->
<header class="black-bg mh-header mh-fixed-nav nav-scroll mh-xs-mobile-nav" id="mh-header">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg mh-nav nav-btn">
                <a class="navbar-brand" href="{{site.baseurl}}/#">
                    <img src="{{site.baseurl}}/assets/images/apple-touch-icon.png" alt="" class="img-fluid">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-0 ml-auto">
                        {% if page.layout == "home" %}
                        <li class="nav-item active">
                        {% else %}
                        <li class="nav-item">
                        {% endif %}
                            <a class="nav-link" href="{{site.baseurl}}/">Home</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{{site.baseurl}}/#mh-about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{site.baseurl}}/#mh-featured-project">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{site.baseurl}}/#mh-skills">Skills</a>
                        </li>                                
                        <li class="nav-item">
                            <a class="nav-link" href="{{site.baseurl}}/#mh-experience">Experience</a>
                        </li>                                
                        <li class="nav-item">
                            <a class="nav-link" href="{{site.baseurl}}/#mh-blog">Featured Posts</a>
                        </li>
                        {% if page.layout == "blog" or page.layout == "post" %}
                        <li class="nav-item active">
                        {% else %}
                        <li class="nav-item"> 
                        {% endif %}
                            <a class="nav-link" href="{{site.baseurl}}/blog">Blog</a>
                        </li> 
                        
                        <li class="nav-item">
                            <a class="nav-link" href="#mh-contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>