<!-- SIDEBAR -->
<div class="col-md-4">
    <div class="mh-blog-sidebar">
        <div class="sidebar-item mh-author-info">
            <div class="mh-author-img">
                <div class="img-border">
                    <img src="{{site.baseurl}}/assets/images/me.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <h2>Chandler Severson</h2>
            <h4>Software Engineer</h4>
            <p>
                Software Engineer with 4 years of experience building distributed backend services.
                Welcome to my technical blog.
            </p>
            <ul class="social-icon">
                <li><a href={{ site.social_links.linkedin }}><i class="fa fa-linkedin"></i></a></li>
                <li><a href={{ site.social_links.github }}><i class="fa fa-github"></i></a></li>
            </ul>
        </div>
        <div class="sidebar-item mh-blog-category">
            <h3>Categories</h3>
            <ul>
                <li id="category-selector-all"><a href="{{site.baseurl}}/posts">all ({{ site.posts | size }})</a></li>
                {% for category in site.categories %}
                {% assign cat = category | first %}
                <li id="category-selector-{{cat}}"><a href="{{site.baseurl}}/posts?category={{cat}}">{{ cat }} ({{ site.categories[cat].size }})</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div> 