<!doctype html>
<html lang="en">
    <head>
        <title>{{ page.title }} | {{ site.title }}</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content={{ page.title }}/>
        <meta name="keywords" content="chandler severson software engineer portfolio" />
        <meta name="developer" content="Chandler Severson">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- FAV AND ICONS   -->
        <link rel="shortcut icon" href="{{site.baseurl}}/assets/images/icons/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/images/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/images/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/images/icons/favicon-16x16.png">
        
        <!-- Google Font-->
        <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{site.baseurl}}/assets/icons/font-awesome-4.7.0/css/font-awesome.min.css">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{site.baseurl}}/assets/plugins/css/bootstrap.min.css">
        <!-- Animate CSS-->
        <link rel="stylesheet" href="{{site.baseurl}}/assets/plugins/css/animate.css">
        <!-- Owl Carousel CSS-->
        <link rel="stylesheet" href="{{site.baseurl}}/assets/plugins/css/owl.css">
        <!-- Fancybox-->
        <link rel="stylesheet" href="{{site.baseurl}}/assets/plugins/css/jquery.fancybox.min.css">
        <!-- Custom CSS-->
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/styles.css">
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/responsive.css">
        <link rel="alternate" type="application/rss+xml"  href="{{ site.url }}/feed.xml" title="{{ site.title }}">

        
        <!-- Colors -->
        <link rel=" stylesheet" href="{{site.baseurl}}/assets/css/colors/blue-munsell.css" title="blue-munsell">

        {% include analytics.html %}
    </head>
    <body class="white-vertion black-bg">
        <!-- Start Loader -->
        <div class="section-loader">
            <div class="loader">
                <div></div>
                <div></div> 
            </div>
        </div>
        <!-- End Loader -->

        {% include navbar.html %}

        {{ content }}

        {% include footer.html %}
    </body>
</html>